[submodule "BHive/vendor/imgui"]
	path = BHive/vendor/imgui
	url = https://github.com/Darius000/imgui.git
[submodule "BHive/vendor/glfw"]
	path = BHive/vendor/glfw
	url = https://github.com/Darius000/glfw.git
[submodule "Engine/vendor/rttr"]
	path = Engine/vendor/rttr
	url = https://github.com/Darius000/rttr.git
[submodule "BHive/vendor/glm"]
	path = BHive/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "Engine/vendor/yaml-cpp"]
	path = Engine/vendor/yaml-cpp
	url = https://github.com/Darius000/yaml-cpp.git
[submodule "Engine/vendor/imgui-node-editor"]
	path = Engine/vendor/imgui-node-editor
	url = https://github.com/Darius000/imgui-node-editor.git
[submodule "Engine/vendor/spdlog"]
	path = Engine/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "BHive"]
	path = BHive
	url = https://github.com/Darius000/BHive.git
